// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.match {
  padding: 10px;
  width: 800px;
}

.odd {
  background: lighten(#aa7755, 35%);
}

.even {
  background: lighten(#aa7755, 50%);
}

.match div {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

div.match:hover {
  background: lighten(#aa7755, 10%);
}

.match .time {
  width: 80px;
  font-size: large;
}

.match .opponent {
  width: 400px;
  font-size: large;
}

.match .tournament_location {
  width: 180px;
  font-size: smaller;
}

.match .score {
  width: 120px;
  font-size: x-large;
}
.our_score, .opponent_score {
  width: 1.7em;
}

.opponent_score {
  text-align: left;
}

.our_score {
  text-align: right;
}

.match a {
  color: blue;
  text-decoration: none;
}
.match a:visited {
  color: blue;
}
.match a:hover {
  background: none;
  text-decoration: underline;
}
.centered {
  text-align: center;
}

h1 {
  text-align: center;
}


h2 {
  font-family: 'Rouge Script', cursive;
  color: #aa7755;
  font-size: 72px;
  text-align: center;
  font-weight: normal;
}

table.scorecard {
  border-collapse: collapse;
  margin: 2em auto;
  td.team {
    min-width: 5em;
    font-weight: normal;
    text-align: right;
  }
  td.hammer {
    font-size: 150%;
    padding-left: 0.4em;
  }
  td.scorecell {
    width: 2em;
    padding: 0.6em;
    text-align: center;
    font-size: large;
    border: 1px solid black;
    min-height: 1em;
    font-family: 'Wallpoet', cursive;
  }
  td.hammer {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  a {
    color: blue;
  }

  #sum td {
    background: lighten(#aa7755, 20%) !important;
  }

  th {
    background: white;
  }
}

.matchbox {
  text-align: center;
  table {
    margin-top: 3em;
  }

  caption {
    font-weight: bold;
    font-size: large;
    padding-bottom: 0.5em;
  }
}

label {
  display: inline-block;
  width: 7em;
}


table.lineup {
  margin: auto auto;
  border-collapse: collapse;
  td, th {
    text-align: left;
    padding: 0.2em 0.8em 0.2em 0.8em;
  }
  th {
    font-weight: bold;
    border-bottom: 1px solid #aa7755;
  }
}

table.stats {
  border-collapse: collapse;
  margin: 5em auto;

  colgroup {
    border-right: 1px solid #aa7755;
  }

  td {
    text-align: left;
    padding: 0.2em 1em;
  }

  th {
    font-weight: bold;
    border-bottom: 1px solid #aa7755;
  }
}
