// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.match {
  padding: 10px;
  width: 800px;
}

.odd {
  background: #aacccc;
}

.even {
  background: #ccbb77;
}

.match div {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

.match div {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

.match .time {
  width: 80px;
  font-size: large;
}

.match .opponent {
  width: 400px;
  font-size: large;
}

.match .tournament_location {
  width: 200px;
  font-size: smaller;
}

.match .score {
  width: 100px;
  font-size: x-large;
}
.our_score, .opponent_score {
  width: 30px;
}

.opponent_score {
  text-align: left;
}

.our_score {
  text-align: right;
}

.match a {
  color: blue;
  text-decoration: none;
}
.match a:visited {
  color: blue;
}
.match a:hover {
  background: none;
  text-decoration: underline;
}

h1 {
  text-align: center;
}


h2 {
  font-family: 'Rouge Script', cursive;
  color: #aa7755;
  font-size: 72px;
  text-align: center;
  font-weight: normal;
}

table.scorecard {
  border-collapse: collapse;
  margin: auto auto;
  td.team {
    min-width: 5em;
    font-weight: bold;
    text-align: right;
  }
  td.scorecell {
    width: 2em;
    padding: 0.6em;
    text-align: center;
    font-size: large;
    border: 1px solid black;
    min-height: 1em;
    font-family: 'Wallpoet', cursive;
  }
  td.hammer {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.matchbox {
  text-align: center;
}

label {
  display: inline-block;
  width: 7em;
}


